{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <table class="table ranking-table">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th></th>
                            <th>Miejsce</th>
                            <th>Ilość członków</th>
                            <th>Nazwa</th>
                            <th>Ilość punktów</th>
                            <th>Odpowiedź w pytaniu dogrywkowym</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="first-place-row">
                            <td><i class="fa fa-trophy"></i></td>
                            <td>1</td>
                            <td>4</td>
                            <td>Wściekłe borsuki</td>
                            <td>12</td>
                            <td>823</td>
                            <td></td>
                        </tr>
                        <tr class="second-place-row">
                            <td><i class="fa fa-trophy"></i></td>
                            <td>2</td>
                            <td>5</td>
                            <td>Akai Team</td>
                            <td>8</td>
                            <td>666</td>
                            <td></td>
                        </tr>
                        <tr class="third-place-row">
                            <td><i class="fa fa-trophy"></i></td>
                            <td>3</td>
                            <td>7</td>
                            <td>Uczulone gąsiory</td>
                            <td>6</td>
                            <td>324</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>4</td>
                            <td>2</td>
                            <td>Zacne wypieki</td>
                            <td>5</td>
                            <td>9382</td>
                            <td></td>
                        </tr>
                        <tr class="closest-number-row">
                            <td></td>
                            <td>5</td>
                            <td>8</td>
                            <td>Przegrywy</td>
                            <td>5</td>
                            <td>628</td>
                            <td><i class="fa fa-bullseye"></i> <i class="fa fa-exclamation"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>6</td>
                            <td>4</td>
                            <td>Zgniłe mięso</td>
                            <td>2</td>
                            <td>638</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-borderless text-center reward-table">
                    <thead>
                        <tr class="reward-key-row">
                            <th>Zarejestrowanych uczestników:</th>
                            <th>Nagroda 1. miejsce:</th>
                            <th>Nagroda 2. miejsce:</th>
                            <th>Nagroda 3. miejsce:</th>
                            <th>Nagroda za pytanie dogrywkowe:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="reward-value-row">
                            <td>50</td>
                            <td>100 zl</td>
                            <td>50 zł</td>
                            <td>30 zł</td>
                            <td>Wódka 0,7l</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}