.first-place-row {
  color: gold;
  font-weight: bold;
}

.second-place-row {
  color: darkgray;
  font-weight: bold;
}

.third-place-row {
  color: saddlebrown;
  font-weight: bold;
}

.closest-number-row {
  color: green;
  font-weight: bold;
}